/* 
green: #AEEDBF  
light-grey: #f6f6f6
medium-grey: #e8e8e8
font-size: large; input boxes
font-size: x-large; buttons
hot pink: rgb(210,34,71);
pink: rgb(177,85,157);
teal: rgb(67,162,168);
blue: rgb(5, 55, 159);
yellow: rgb(245, 225, 92);
*/

.bottom-nav {
  /* border: 2px solid red; */
  background-color: rgb(177, 85, 157);
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  position: fixed;
  bottom: 0;
}

.bottom-nav img {
  border: 3px solid red;
  width: 25px;
  height: 25px;
  margin: 0 20px;
}
