/* dark purple: #1e1e1e
light red 2: #f73cab
Cyan: #30fcf1
light pink: #ffe2f7
*/

.login-container {
  /* border: 2px solid red; */
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
