/* dark purple: #1e1e1e
light red 2: #f73cab
Cyan: #30fcf1
light pink: #ffe2f7
*/

.profile {
  /* border: 2px solid #1A1B1E; */
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.profile-heading-container {
  /* border: 2px solid blue; */
  height: 35%;
  background: linear-gradient(180deg, #30fcf1 60%, #1e1e1e 0%);
}

.profile-heading {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.logout {
  margin: auto 8%;
}

.logout-duplicate {
  /* border: 1px solid red; */
  visibility: hidden;
  margin: 0 8vw;
}

.profile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-image {
  border: 2px solid white;
  object-fit: cover;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
}

body {
  text-align: center;
  color: white;
}

h1 {
  color: #1e1e1e;
}
h2 {
  /* border: 1px solid orange; */
  text-align: center;
  color: #1a1b1e;
}

tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

tbody p {
  color: white;
}
tbody tr {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  margin: 5px 5%;
}

tbody tr td {
  border-bottom: 1px solid #f73cab;
  width: 50%;
  text-align: left;
}

.profile-info {
  /* border: 3px solid blue; */
  height: 40%;
  display: flex;
}

.profile-td h3 {
  margin: 0;
}

.edit-profile-form {
  /* border: 2px solid red; */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-btn {
  border: 1px solid #30fcf1;
  padding: 5px;
  width: 40%;
  border-radius: 3px;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}

.form-item {
  /* border: 2px solid green; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-item input {
  /* border: 1px solid #f73cab; */
  width: 60%;
  height: 100%;
  margin: 0;
}
