/* dark purple: #1e1e1e
light red 2: #f73cab
Cyan: #30fcf1
light pink: #ffe2f7
*/

.complete,
.current,
.up-next,
.in-line {
  border-radius: 3px;
  margin: 1px 1%;
}

.complete {
  border: 1px solid #ffe2f7;
  /* background-color: #ffe2f7; */
  opacity: 0.3;
  color: #1a1b1e;
  transition: background-color 0.75s ease;
  background-color: #1a1b1e;
}

.current {
  border: 1px solid #30fcf1;
  color: #1e1e1e;
  transition: background-color 0.75s ease;
  background-color: #30fcf1;
  opacity: 0.9;
}

.up-next {
  border: 1px solid #f73cab;
  transition: background-color 0.75s ease;

  background-color: #f73cab;
  opacity: 0.9;
}

.in-line {
  border: 1px solid #ffe2f7;
  opacity: 0.9;
  /* background-color: #ffe2f7; */
}

.stage-name-container h3,
.stage-name-container h5 {
  margin: 5px auto;
}

.heading {
  z-index: 1;
}

.queue {
  margin: 20vh 0px 10vh 0px;
}

.queue-header {
  /* border: 1px solid blue; */
  /* background-color: white; */
  /* margin-top: 10vh; */
  width: 100%;
  position: fixed;
  top: 9%;
  z-index: 1;
  background-color: #1e1e1e;
}

h3,
h4 {
  margin: 5px auto;
}

.queue-container {
  /* border: 3px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.queue-list-container {
  /* border: 3px solid yellow; */
  margin: 0;
}

.queue-song-container {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1e1e1e;
  margin: 0;
  /* border-bottom: 1px solid #e8e8e8; */
}

.queue-item {
  /* border: 1px solid green; */
  /* border-bottom: 1px solid #1A1B1E; */
  margin: 0 auto;
  width: 90%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  /* background-color: #ffd0df; */
}

.queue-item h3,
.queue-item h4,
.queue-item h5 {
  /* color: #1e1e1e; */
  color: white;
}

.current h3,
.current h4,
.current h5 {
  color: #1e1e1e;
  /* color: white; */
}

.up-next h3,
.up-next h4,
.up-next h5 {
  color: #1e1e1e;
  /* color: white; */
}

.stage-name-container {
  /* border: 2px solid red; */
  margin: 0;
  text-align: left;
}

.btn-container {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

.song-btn-container {
  background-color: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.cancel-song-btn,
.hidden-cancel-song-btn {
  width: 25px;
  height: 25px;
  padding: 3px;
  border: none;
  background-color: none;
}

.hidden-cancel-song-btn {
  visibility: hidden;
  display: none;
}

.mark-container {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
}

.logo-queue {
  /* border: 3px solid red; */

  width: 60%;
  height: auto;
  filter: drop-shadow(3px 3px 3px #d33ef5);
}
