/* 
green: #AEEDBF  
light-grey: #f6f6f6
medium-grey: #e8e8e8
font-size: large; input boxes
font-size: x-large; buttons
hot pink: rgb(210,34,71);
pink: rgb(177,85,157);
teal: rgb(67,162,168);
blue: rgb(5, 55, 159);
yellow: rgb(245, 225, 92); 
*/

.search-container {
  /* border: 2px solid black; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.heading {
  /* border: 2px solid yellow; */
  background-color: rgb(177, 85, 157);
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  padding-top: 1vh;
  top: 0;
}

.heading img {
  border: 2px solid rgb(67, 162, 168);
  object-fit: cover;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.logout {
  margin: 0 8vw;
}

.logout img {
  border: none;
  height: 3vh;
  width: 3vh;
  border-radius: 0;
  margin-left: 7vw;
}

.logout-duplicate {
  /* border: 1px solid red; */
  visibility: hidden;
  margin: 0 8vw;
}

.search-btn {
  /* border: 3px solid orange; */
  height: 4vh;
  border-radius: 30px;
  width: 40vw;
  margin: 0 auto;
  text-decoration: none;
  font-size: large;
  border-style: none;
  padding: 0px 10px;
  background-color: rgb(67, 162, 168);
  border: 1px solid rgb(245, 225, 92);
}

.search {
  /* border: 1px solid red; */
  height: 84vh;
  margin-top: 6vh;
}

.search-bar {
  /* border: 1px solid blue; */
  background-color: white;
  /* margin-top: 10vh; */
  width: 100vw;
  position: fixed;
  top: 9vh;
}

h3,
h5 {
  margin: 15px auto;
}

h4 {
  margin: 5px;
}

p {
  margin: 5px auto;
}

.results-container {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26vh 20px 11vh 20px;
  justify-content: space-between;
}

.song-container {
  /* border-bottom: 1px solid rgb(67, 162, 168); */
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 6px 4px;
}

.results {
  /* border: 1px solid green; */
  width: 90vw;
  text-align: left;
}

.signup-btn {
  /* border: 1px solid blue; */
  border: none;
  background-color: white;
  height: 50%;
  padding: 3px;
}

.icon {
  width: 20px;
  height: 20px;
}
