/* dark purple: #1e1e1e
light red 2: #f73cab
Cyan: #30fcf1
light pink: #ffe2f7
*/

.search-container {
  /* border: 2px solid #1a1b1e; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
}

.heading {
  /* border: 2px solid yellow; */
  background-color: #30fcf1;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e1e1e;
  position: fixed;
  padding-top: 1vh;
  top: 0;
}

.heading img {
  border: 1px solid #1e1e1e;
  object-fit: cover;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.logout {
  margin: 0 8vw;
}

.logout img {
  border: none;
  height: 3vh;
  width: 3vh;
  border-radius: 0;
  margin-left: 7vw;
}

.logout-duplicate {
  /* border: 1px solid red; */
  visibility: hidden;
  margin: 0 8vw;
}

.search-btn {
  /* border: 3px solid orange; */
  height: 4vh;
  border-radius: 3px;
  width: 40vw;
  margin: 0 auto;
  text-decoration: none;
  font-size: large;
  padding: 0px 10px;
  background-color: #1e1e1e;
  border: 1px solid #f73cab;
  color: white;
}

.search {
  /* border: 1px solid red; */
  height: 100%;
  margin-top: -8%;
}

.search-bar {
  /* border: 1px solid blue; */
  /* margin-top: 10vh; */
  width: 100vw;
  position: fixed;
  top: 9vh;
  background-color: #1e1e1e;
  z-index: 1;
}

h3,
h5 {
  margin: 15px auto;
  color: white;
}

h4 {
  margin: 5px;
}

p {
  margin: 5px auto;
}

.results-container {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26vh 10px 11vh 10px;
  justify-content: space-between;
  color: white;
}

.song-container {
  /* border-bottom: 1px solid #FF3D90; */
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  border-bottom: 1px solid #f73cab;
  padding: 6px 4px;
}

.results {
  /* border: 1px solid green; */
  width: 90%;
  text-align: left;
}

.signup-btn {
  /* border: none; */
  background-color: #f73cab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 3px;
  border-radius: 50%;
}

.icon {
  width: 20px;
  height: 20px;
}

.logo-search {
  /* border: 3px solid red; */
  margin: auto;
  width: 60%;
  height: auto;
  filter: drop-shadow(3px 3px 3px #30fcf1);
}
