/* 
green: #AEEDBF  
light-grey: #f6f6f6
medium-grey: #e8e8e8
font-size: large; input boxes
font-size: x-large; buttons
*/

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

/* HOME */
.home-container {
  /* border: 2px solid green; */
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-buttons {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 20vh;
  margin: 0 auto;
}

/* remove all style from links */
a {
  color: inherit;
  text-decoration: inherit;
}

.nav-btns {
  /* border: 1px solid orange; */
  height: 6vh;
  border-radius: 30px;
  width: 80vw;
  margin: 0 auto;
  text-decoration: none;
  font-size: x-large;
  border-style: none;
  padding: 0px 10px;
}

.green-btn {
  background-color: #aeedbf;
  color: white;
}

.wht-btn {
  background-color: white;
  color: #aeedbf;
}

.logo {
  width: 100vw;
  height: auto;
}

.complete {
  background-color: gray;
}

.current {
  background-color: green;
}

.up-next {
  background-color: yellow;
}

input {
  border: 2px solid #e8e8e8;
  height: 5vh;
  border-radius: 10px;
  width: 80vw;
  margin: 6px auto;
  text-decoration: none;
  font-size: large;
  padding: 0px 10px;
  background-color: #f6f6f6;
  /* border-style: none; */
}
