/* 
green: #AEEDBF  
light-grey: #f6f6f6
medium-grey: #e8e8e8
font-size: large; input boxes
font-size: x-large; buttons
*/

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

/* remove all style from links */
a {
  color: inherit;
  text-decoration: inherit;
}

input {
  border: 2px solid #e8e8e8;
  height: 5vh;
  border-radius: 10px;
  width: 80vw;
  margin: 6px auto;
  text-decoration: none;
  font-size: large;
  padding: 0px 10px;
  background-color: #f6f6f6;
  /* border-style: none; */
}
