.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}

/* HOME */
.home-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 90%;
  height: auto;
}
